# このファイルは MySQL 8.0 を想定して作成しています。
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html

[mysqld]
# https://dev.mysql.com/doc/refman/5.6/ja/charset-unicode-utf8mb4.html
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci

# https://moznion.hatenadiary.com/entry/2015/04/13/005641
lower_case_table_names = 1

transaction-isolation=READ-COMMITTED
sql_mode = 'TRADITIONAL'
skip-name-resolve=1
