# このファイルは MySQL 8.0 を想定して作成しています。
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html

[mysqld]
# 4バイト文字を扱うために utf8mb4 を指定する。
# https://dev.mysql.com/doc/refman/5.6/ja/charset-unicode-utf8mb4.html
character-set-server=utf8mb4

# コウさんのおすすめで性能のよいutf8mb4デフォルトのcollationを選択
collation-server=utf8mb4_0900_ai_ci

# テーブル名やデータベース名をストアするときにすべてを小文字に丸める．名前の比較については大文字・小文字を区別しない．
# https://moznion.hatenadiary.com/entry/2015/04/13/005641
lower_case_table_names = 1

# MySQL のトランザクション隔離レベルをREAD-COMMITTED に設定
transaction-isolation=READ-COMMITTED

# LOAD DATA LOCALを使えるように設定
local_infile = ON

# SQLの厳密さ
sql_mode = 'TRADITIONAL'

# 名前解決のスキップ
skip-name-resolve=1
